[alias]
	# Prettier git `log`
	grog = log --pretty=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)' --graph --abbrev-commit --decorate --all

	# Initialize a repository and commit an empty commit
	it = !git init && git commit -m "root" --allow-empty

	# Add everything and commit
	acm  = !git add -A && git commit
	# ... with a message verbatim from the CLI
	acmm = "!f() { git add -A && git commit -m \"${*:-Updates $(date +%Y-%m-%d)}\"; }; f"

	# Git `commit` shorthand
	cm  = commit
	# ... with a message verbatim from the CLI
	cmm = "!f() { git commit -m \"${*:-Updates $(date +%Y-%m-%d)}\"; }; f"

	# Git `status` with shorthand output
	st  = status -bs
	sti = status -bs --ignored

	# Git `checkout` shorthand
	co  = checkout
	cob = checkout -b

	# `checkout` a branch from a pull request (GitHub specific?!)
	copr = "!f() { git fetch ${2:-origin} pull/${1}/head:pr/${1} && git checkout pr/${1}; }; f"

	# Commit files in the staging area to the last commit
	commend = commit --amend --no-edit --reset-author

	# Diff words & chars with colored output
	wdiff = diff --color-words
	cdiff = diff --color-words=.

	# Stash only unstaged changes to tracked files
	stsh    = stash --keep-index
	# Stash untracked and tracked files
	staash  = stash --include-untracked
	# Stash ignored, untracked, and tracked files
	staaash = stash --all

	# Soft reset
	undo = reset --soft HEAD^

	# Unstage from the the staging area
	unstage = reset HEAD

	# Git `update-index` shorthand
	ui = update-index

	# Mark a file as "assume unchanged": good for perf
	assume = update-index --assume-unchanged
	# Reverse the above
	unassume = update-index --no-assume-unchanged
	# Show the files that are currently assume-unchanged
	assumed = !git ls-files -v | grep ^h | cut -c 3-

	# Mark a file as "skip worktree": good for config files
	skip = update-index --skip-worktree
	# Reverse the above
	unskip = update-index --no-skip-worktree
	# Show the files that are currently skip-worktree'd
	skipped = !git ls-files -v | grep ^S | cut -c 3-

	# Create an annotated tag with a message for a (sem)ver release
	ver = "!f() { git tag -a ${1} -m \"${1}\"; }; f"

	# List contributors with number of commits
	who = shortlog -sn

	# List branches ordered by most recent commit (with verbose information)
	brecent = branch --sort=-committerdate --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'

	# Delete local branches also gone from the origin (pass in -D to force-delete)
	rimraf = "!f() { git fetch -p && git branch -vv | grep 'origin/.*: gone]' | awk '{print $1}' | xargs git branch ${1:--d}; }; f"

	# Show verbose output about tags, branches or remotes
	tags = tag -l
	branches = branch -a
	remotes = remote -v

[color]
	ui = auto

[commit]
	template = ~/.gitmessage

[core]
	# Global .gitignore
	excludesfile = ~/.gitignore.global

[include]
	# Custom .gitconfig
	path = ~/.gitconfig.local

[push]
	default = simple
	followTags = true

[status]
	showUntrackedFiles = all
