# Include system-wide settings
$include /etc/inputrc

# Use UTF-8 for input/output
set input-meta on
set output-meta on
set convert-meta off

#
# Auto-Completions
#

# Case insensitive <Tab>-completion
set completion-ignore-case on

# Make '_' and '-' equal when completing
set completion-map-case on

# Add a trailing slash when autocompleting symlinks to dirs
set mark-symlinked-directories on

# Do not autocomplete hidden files unless the pattern begins with a dot
set match-hidden-files off

# Be more intelligent when autocompleting by also looking after the cursor
set skip-completed-text on

# If there are > 200 possible completions, ask to show them all
set completion-query-items 200

# Display "..." for already completed match in completions
set completion-prefix-display-length 2

# Display all completions immediately after <Tab>
set show-all-if-ambiguous on
set show-all-if-unmodified on

# Show colors and file info in completion list
set colored-stats on
set visible-stats on

#
# Bindings
#

# Use up/down for history searching
"\e[A": history-search-backward
"\e[B": history-search-forward

# Cycle through completions
"\t": menu-complete
"\e[Z": menu-complete-backward
